.principal-container-visualizar {
    width: 100%;
    padding: 20px;
    width:auto;
    text-align: center;
}

.principal-container-visualizar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #D9D9D9;

}

.principal-container-visualizar .carros-container .carro-card {
    background-color: #D9D9D9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.principal-container-visualizar .carros-container .carro-card:hover {
    background-color: #c6c6c6;
}

.principal-container-visualizar .carros-container .carro-card .carro-info-item .carro-info{
    color:#000000;
    font: caption;
}

.principal-container-visualizar .carros-container .carro-card .disponivel{
    background-color: #64DE7C;
    color:rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.principal-container-visualizar .carros-container .carro-card .manutencao{
    background-color: #ED4A4A;
    color:rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.principal-container-visualizar .carros-container .carro-card .alugado{
    background-color: #077BD8;
    color:rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}