.principal-container-visualizar {
    width: 100%;
    padding: 20px;
    width: auto;
    text-align: center;
}

.principal-container-visualizar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #D9D9D9;

}

.carros-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    grid-gap: 20px;
}


.principal-container-visualizar .carros-container .carro-card {
    background-color: #D9D9D9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-basis: calc(33.33% - 10px);
    padding: 20px;
    border-radius: 25px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.principal-container-visualizar .carros-container .carro-card:hover {
    background-color: #c6c6c6;
}

.principal-container-visualizar .carros-container .carro-card .carro-info-item .carro-info {
    color: #000000;
    font: caption;
}

.principal-container-visualizar .carros-container .carro-card .disponivel {
    background-color: #64DE7C;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.principal-container-visualizar .carros-container .carro-card .manutencao {
    background-color: #ED4A4A;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.principal-container-visualizar .carros-container .carro-card .alugado {
    background-color: #077BD8;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.animar-h3 {
    animation: mover-h3 2s infinite alternate;
    color:#0b6ebf;
}

.carro-card button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #64DE7C;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.carro-card button:hover {
    background-color: #367a44;
}

.carro-card button:disabled {
    background-color: #D9D9D9;
    cursor: not-allowed;
}

@keyframes mover-h3 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}