nav {
    background-color: #D9D9D9;
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 75px;
}

.nav-buttons ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-buttons ul li{
    padding: 10px;
}

.nav-buttons ul li button {
    height: 25px;
    color: #ffffff;
    margin-left: 10px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-buttons ul li button .icon {
    height: 25px;
    margin-right: 5px;
}

.nav-buttons ul li button .label {
    display: flex;
    align-items: center;
}

.nav-buttons ul li {
    align-items: center;
}

.nav-buttons ul li .preto {
    background-color: #242424;
}

.nav-buttons ul li .verde {
    background-color: #64DE7C;
}

.nav-buttons ul li .azul {
    background-color: #077BD8;
}

.nav-buttons ul li .vermelho {
    background-color: #ED4A4A;
}

.nav-buttons ul li .amarelo {
    background-color: #b48f34;
}

.nav-buttons ul li .roxo {
    background-color: #9747FF;
}

.nav-buttons ul li :hover {
    color:#cecece
}

.nav-buttons ul li .preto:hover {
    background-color: #8b8b8b;
}

.nav-buttons ul li .verde:hover {
    background-color: #439353;
}

.nav-buttons ul li .azul:hover {
    background-color: #0d5998;
}

.nav-buttons ul li .vermelho:hover {
    background-color: #8e2f2f;
}

.nav-buttons ul li .amarelo:hover {
    background-color: #75602a;
}

.nav-buttons ul li .roxo:hover {
    background-color: #542c87;
}